<component name="ArtifactManager">
  <artifact type="war" build-on-make="true" name="spring-mvc-demo:war">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_mvc_demo_war</output-path>
    <root id="archive" name="spring-mvc-demo_war.war">
      <element id="artifact" artifact-name="spring-mvc-demo:war exploded" />
    </root>
  </artifact>
</component>