<component name="ArtifactManager">
  <artifact type="war" name="springrest_api_crm:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springrest_api_crm</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springrest_api_crm-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springrest_api_crm:war exploded" />
    </root>
  </artifact>
</component>